



  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ホーム</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/new">新規会員登録</a></li>
        <li><a href="/login">ログイン</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '戻る', :back %></li> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/new">New</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="contents">
    <span class="body-con">
    <div class="contents-text">
       <h2 class="sub-title">道の駅倶楽部とは?</h2>
       <hr>
      <div class="contents-p">
       <p>道の駅倶楽部とは全国の道の駅の魅力を皆さんに伝えていき、道の駅を好きになっても
らうことをコンセプトにしたサイトです。サイト作成者が実際行ってみてオススメしたい道の駅
を写真で紹介しています。
       </p>
      
       <h2 class="sub-title">サイト作成者について</h2>
       <hr>
       
       <p>私は、旅行とプログラミングと将棋が大好きな23歳です。今の目標は、実際旅行で行って
       オススメしたい場所をプログラミングやブログを使って皆さんに発信していくことです。
       </p>
       
       <br>
       <p>私は、関西地方を中心にこれまで約100箇所の道の駅に行ってきました。兵庫県には道の駅が35箇所あるのですが、全て制覇しました。
       道の駅には数々の魅力があります。その地域の名産物を食べることができることや、旅の休憩所として無料で利用できることです。
       </p>
       <br>
       <p>そして道の駅巡りをする際にオススメしたいのが、道の駅スタンプラリーと記念切符収集です。スタンプは各道の駅に置いてあり、
       専用ブックに押して集めます。記念切符は、道の駅で180円で販売しており道の駅に行った記念品となります。
       </p>
       
      
       <h2 class="sub-title">利用するにあたって</h2>
       <hr>
      
       <p>このサイトを利用するにあたって新規会員登録をしていただき、ログインページからログインをして利用できます。
       ログインすると道の駅の写真を見ることができ、掲示板で感想やコメントを書き込むこともできます。
       </p>
       </div>
    </div>
    </span>
</div>
 

 
 
 
 