<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ホーム</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/new">新規会員登録</a></li>
         <li><a href="/show">掲示板</a></li>
        <li><a href="/login">ログイン</a></li>
        <li><%= link_to "ログアウト", logout_path, method: :post %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '戻る', :back %></li> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/new">New</a></li>
            <li><a href="/show">Board</a></li>
            <li><a href="/login">Login</a></li>
            <li><%= link_to "Logout", logout_path, method: :post %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


   
    
<div class="con-body">
    <main class="container">
      
      <h2 class="mtitle">道の駅きなんせ岩美の写真をご覧ください。</h2>
     
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="img-thumbnail">
            <img src="assets/8.jpg">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="img-thumbnail">
            <img src="assets/1.jpg">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="img-thumbnail">
            <img src="assets/6.jpg">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="img-thumbnail ">
            <img src="assets/5.jpg">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="img-thumbnail ">
            <img src="assets/9.jpg">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="img-thumbnail">
            <img src="assets/7.jpg">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="img-thumbnail">
            <img src="assets/2.jpg">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="img-thumbnail ">
            <img src="assets/3.jpg">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="img-thumbnail">
            <img src="assets/4.jpg">
          </div>
        </div>
      </div>
    </main>
</div>
  
  
  
  