<!DOCTYPE html>
<html>
  <head>
    <title>道の駅倶楽部</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header>
      <h1 class="title">道の駅倶楽部</h1>
    </header>


    
    
    <%= yield %>
    

    
<footer>
 <p>&copy; 2019 T-Yuma</p>
</footer>
 
  
    
    
  </body>
</html>
